# Excluir dependencias 
node_modules/

# Excluir archivos de sistema 
.DS_Store
Thumbs.db

# Excluir configuraciones de IDE 
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros archivos temporales
dist/
build/
*.log